.section {
    max-width: 600px;
    margin-left: 22px;
    margin-top: 100px;
}

.orderButton {
    float: right;
  }

.scrollableContainer {
    overflow-y: auto; /* Добавляет вертикальную прокрутку, если содержимое выходит за пределы контейнера */
    max-height: 470px; /* Максимальная высота контейнера, при которой появляется полоса прокрутки */
}

.item {
    margin-bottom: 10px;
}

/* Стилизация вертикального скроллбара */
.scrollableContainer::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
  }
  
  .scrollableContainer::-webkit-scrollbar-thumb {
    background-color: rgba(133, 133, 173, 1); /* Цвет ползунка скроллбара */
  }
  
  .scrollableContainer::-webkit-scrollbar-track {
    background-color: rgba(47, 47, 55, 1); /* Цвет фона скроллбара */
  }

  .div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }