.content {
  position: relative;
  width: 1300px;
  left: calc(50vw - 600px - 20px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
