.cardOrder {
  width: 640px;
  margin: 0 auto;
  margin-block-start: 60px;
  

}
.numberOrder {
  font-family: "Iceland";
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
 margin-block-end: 40px;
}

.foodName {
  font-family: "JetBrains";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-block-end: 12px;
}
.wordDone {
  color: rgba(0, 204, 204, 1);
  font-family: "Iceland";
  font-size: 16px;
 }

.allIngredients {
 width: 640px;
 height: 366px;
 min-height: 100%;
 margin: 0 auto;
 padding: 0px;
 overflow: scroll;

}
 .titleIngredients {
  font-family: "JetBrains";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0 auto;
  padding: 0px;
  margin-block-start: 60px;
  margin-block-end: 24px;
}
.nameIngredient {
  font-family: "JetBrains";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 414px;
}
.numbersQuantity {
  font-family: "Iceland";
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  display: flex; 
  gap: 8px;
}

.IngredientsItems {
display: grid;
grid-template-columns: min-content 1fr 1fr;
}

.dateOrder {
  align-self: end;
  color: grey;
  font-size: 16px;
  align-self: center;
}
.iconsItem {
  margin: 0px -28px 0px -28px;
  width: 112px;
  height: 56px;
}
.coverIconsItem {
  background-color: rgba(19, 19, 22, 1);
  border: 2px solid rgba(128, 26, 178, 1);
  max-width: 64px;
  max-height: 64px;
  border-radius: 50%;
  display: flex;
  align-self: start;
  margin-inline-end: 16px;
}

.dateOrderCard {
  display: flex;
  justify-content: space-between;
 
  flex-direction: row;
}

.iconsItem {
  margin: 0px -20px 0px -20px;
  width: 100px;
  height: 56px;
}

.totalItem {
  font-family: "Iceland";
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  display: flex; 
  gap: 8px;
  align-self: end;
}
