.sectionContainerHistory {
  min-height: 100%;
  gap: 60px;
  width: 680x;
  height: 852px;

}
.orderLists {
  overflow: scroll;
  width: 110%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  margin-block-start: 24px;
}
.linkLocation {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
.sectionContainerTable {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  list-style: none;
  margin: 0 auto;
}
.coverItem {
  background-color: rgba(28, 28, 33, 1);
  border-radius: 40px;
  width: 584px;
  height: 219px;
  margin: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.titleContainer {
  padding-left: 35px;
}
.foodName {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.iconsFood {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-left: 24px;
}

.iconsItem {
  margin: 0px -28px 0px -28px;
  width: 112px;
  height: 56px;
}
.coverIconsItem {
  margin-left: -24px;
  background-color: rgba(19, 19, 22, 1);
  border: 2px solid rgba(128, 26, 178, 1);
  max-width: 56px;
  max-height: 56px;
  border-radius: 50%;
  display: flex;
  align-self: start;
}
.dateOrder {
   padding-inline-start: -60px;
  color: grey;
  font-size: 16px;
}
.totalItem {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-block-start: 100px;
  align-self: end;
}
.textWrapper {
  margin-inline-start: -320px;
 padding-block-start: 320px;
  width: 320px;
  font-size: 16px;
  font-family: "JetBrains";
  line-height: 24px;
  color: rgb(133, 133, 173, 1);
  background-color: transparent;
  cursor: pointer;
}

.textWrapper:hover {
  color: white;
}
.textWrapper:focus {
  outline: none;
  text-decoration: none;
}
.textWrapper:focus-visible {
  color: white;
}
