.navigator {
  padding-block-start: 20px;
  margin-block-start: 20px;
  padding-block-end: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  height: 1fr;
  background-color: rgba(28, 28, 33, 1);
  color: white;
}

.button {
  display: flex;
  align-items: center;
  border-radius: 32px;
  margin: 0px 40px 0;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.div {
  margin-right: 5px;
}

